<%- include('partials/header', { title }) %>

    <main class="container">

        <h1>
            <%= title %>
        </h1>

        <h2>Categories</h2>

        <section class="categories">

            <div class="category-grid">

                <% categories.forEach(category=> { %>

                    <a href="/categories/<%= category.category_id %>" class="category-card-link">

                        <div class="category-card">
                            <h3>
                                <%= category.name %>
                            </h3>
                        </div>

                    </a>

                    <% }) %>

            </div>

        </section>

    </main>

    <%- include('partials/footer') %>